<!DOCTYPE html>
<meta charset="UTF-8">
<html>
    <head>
        
    </head>
    <body>
            <script>

                    var str = "Hi, my name is Sam!"; // 변수 지정
                    var a = str.split(","); // Split on commas
                    var b = str.split(" "); // Split on spaces
                    var c = str.split("!");
                    var i = str.indexOf(b[2]);
                    var f = str.indexOf(b[3])-8;
                    var ss = str.indexOf(b[4]);
                    var sf = str.length+3;
            </script>

                   출력 : <span id="demo06"></span><br> 
                   출력 : <span id="demo07"></span><br>
                   출력 : <span id="demo08"></span><span id="demo81"></span><br>
                   출력 : <span id="demo09"></span><br>
                   출력 : <span id="demo10"></span><br>
                   출력 : <span id="demo11"></span><br>
            <script>
                    document.getElementById("demo06").innerHTML = b[0];
                    document.getElementById("demo07").innerHTML = a[1];
                    document.getElementById("demo08").innerHTML = b[0];
                    document.getElementById("demo81").innerHTML = b[4];
                    document.getElementById("demo09").innerHTML = str.substr(i,f);
                    document.getElementById("demo10").innerHTML = str.substr(ss,3);
                    document.getElementById("demo11").innerHTML = sf;
            </script>
    </body>
</html>