<!DOCTYPE html>
<meta charset="UTF-8">
<html>
    <head>
        <!--JS-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!--CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>onsubmit</title>
        <script></script>
    </head>
    <body>
        <script>
            function validateform(){
                var name = document.myform.name.value;
                var pwd = document.myform.pwd.value;

                if(name == null || name == ""){
                    var strvalidation = "Name can't bee blank";    
                    document.getElementById("demo").innerHTML = strvalidation;
                    return false;
                }
                if(pwd < 7){
                    var strvalidation = "password can't bee blank";    
                    document.getElementById("demo1").innerHTML = strvalidation;
                    return false;
                }
                return true;
            }
        </script>
        <span id="demo"></span><br>
        <span id="demo1"></span><br>
        <form name="myform" action="/login" onsubmit="return validateform()">
            Name : <input type="text" name="name"><br/>
            Password : <input type="password" name="pwd"><br/>
            <input type="submit" value="register">
        </form>
    </body>
</html>