<!DOCTYPE html>
<meta charset="UTF-8">
<html>
    <head>
        <!--JS-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!--CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>Etc</title>
        <script></script>
    </head>
    <body>
        <span id="demo01"></span>
        <span id="demo02"></span>
        <span id="demo03"></span>
        <span id="demo04"></span>
        <span id="demo05"></span>
        <span id="demo06"></span>
        <span id="demo07"></span>
        <span id="demo08"></span>
        <span id="demo09"></span>
        <script>
            //document.getElementById("demo").innerHTML="Screen height is" + screen.height + ", Screen width is" + screen.width;

            function goMoving(){
                window.history.back()
            }
            document.getElementById("demo01").innerHTML = navigator.appName
            document.getElementById("demo02").innerHTML = navigator.appCodeName
            document.getElementById("demo03").innerHTML = navigator.platform
            document.getElementById("demo04").innerHTML = navigator.cookieEnabled
            document.getElementById("demo05").innerHTML = navigator.userAgent
            document.getElementById("demo06").innerHTML = navigator.language
            document.getElementById("demo").innerHTML = navigator.onLine
        </script>
    </body>
</html>