<!DOCTYPE html>
<meta charset="UTF-8">
<html>
    <head>
        <!--JS-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!--CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>Function</title>
        
    </head>
    <body>
        <form>
            <div>
                <input type="text" id="test">
                <input type="text" id="testt">
                <button type="submit" onclick="a()">실행</button>
                <div id="demo01"></div>
            </div>
        </form>
        
        <script>
            //1번
            var same = "내용이 같습니다."
            var pre
            function a(){
                var num1 = document.getElementById("test").value
                var num2 = document.getElementById("testt").value
                if(num1>num2){
                    pre = num1;
                }else if(num1==num2){
                    pre = same;
                }else{
                    pre = num2;
                }
                document.getElementById("demo01").innerHTML = pre
            }
            
            //1번끝

            //2번
            var input = {
                subStringWithText: function(str,a){
                    var postion = str.substring(0,str.indexOf(a))
                    document.getElementById("demo02").innerHTML = postion
                },
            }

            //3번

            var change = {
                getTextAndreplace: function(str,css,html){
                    var pos,pos1,pos2;
                    pos1 = str.replace(css,html)
                    pos2 = pos1.replace(html,css)
                    
                    document.getElementById("demo03").innerHTML = pos2
                },
            }
        </script>
    </body>
</html>