<!DOCTYPE html>
<meta charset="UTF-8">
<html>
    <head>
        <title></title>
        <script></script>
    </head>
    <body onload="getLocation()">
        <p id="demo"></p>
        <button type="submit" onclick="getLocation()">Try it</button>
        <script>
            var x = document.getElementById("demo");
            function getLocation(){
                if(navigator.geolocation){
                    navigator.geolocation.getCurrentPosition(showPosition);
                }else{
                    x.innerHTML="Geolocation is not supported by this browser.";
                }
            }
            function showPosition(position){
                x.innerHTML = "Latitude:" + position.coords.latitude + "<br>Longitude:"+position.coords.longitude;
            }
        </script>
    </body>
</html>