
<!DOCTYPE html>
<meta charset="UTF-8">
<html>
    <head>
    <!--JS-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!--CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <titl></titl>
    </head>

    <body>
    
            <form action="/signin">
                    <div class="modal fade" id="login" tabindex="-1" role="dialog">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header text-center bg-secondary text-white">
                              <h4 class="modal-title w-100 ">Sign in</h4>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body mx-3">
                              <div class="md-form mb-5">
                              <label data-error="wrong" data-success="right" for="defaultForm-email"><strong>Email</strong></label>
                              <input type="email" id="defaultForm-email" class="form-control validate" name ="logid">
                            </div>
                            <div class="md-form mb-4">
                              <label data-error="wrong" data-success="right" for="defaultForm-pass"><strong>password</strong></label>
                              <input type="password" id="defaultForm-pass" class="form-control validate " name = "logpw">
                            </div>
                              </div>
                            <div class="modal-footer d-flex justify-content-center">
                              <button type="submit" class="btn btn-default btn-outline-secondary">Login</button>
                            </div>
                          </div>
                      </div>
                    </div>
            </form>

        <div class="container border-bottom">
            <header class = "blog-header py-3">
                <div class = "row flex-nowrap justify-content-between align-items-center">
                    <div class = "col-4"><a class = "text-muted" href="/Views/store">Store</a></div>
                    <div class = "col-4 text-center"><h3><a class = "text-dark" href="/Views/home">WOONGSINSA</a></h3></div>
                    <div class = "col-4 d-flex justify-content-end align-items-center">
                        <button class="text-muted bg-white border-0" data-toggle="modal" data-target = "#login">Sign In </button>/
                        <!--로그인 팝업창-->
                        <a class="text-muted bg-white border-0" href="/Views/signup" role="button">Sign Up</a>
                    </div>
                </div>
        </div>
            </header>
    </div>

    <div class="container d-flex justify-content-center">
        <div id="signupbox" class=" col-md-10 col-sm-8 "> 
            <div class="panel panel-info"> 
                <div class="panel-heading text-center"> 
                    <div class="panel-title pt-5"><h1> Sign Up </h1></div> 
                </div> 
                <div class="panel-body"> 
                    <form id="signupform" class="form-horizontal" role="form" action="/signup"> 
                        <div class="form-group pt-5"> 
                            <label for="email" class="col-md-3 control-label "><h5>Email</h5></label>
                            <div class="col-md-9"> 
                                <input type="text" class="form-control" name="email" placeholder="Email Address"> 
                            </div> 
                        </div> 
                        <div class="form-group pt-3"> 
                            <label for="firstname" class="col-md-3 control-label"><h5>First Name</h5></label> 
                            <div class="col-md-9"> 
                                <input type="text" class="form-control" name="firstname" placeholder="First Name"> 
                            </div> 
                        </div>
                        <div class="form-group pt-3"> 
                            <label for="lastname" class="col-md-3 control-label"><h5>Last Name</h5></label> 
                            <div class="col-md-9"> 
                                <input type="text" class="form-control" name="lastname" placeholder="Last Name"> 
                            </div> 
                        </div> 
                        <div class="form-group pt-3"> 
                                <label for="password" class="col-md-3 control-label"><h5>Password</h5></label> 
                                <div class="col-md-9"> 
                                    <input type="password" class="form-control" name="passwd" placeholder="Password"> 
                                </div> 
                        </div> 
        <!--Button-->
                        <div class="form-group pt-5"> 
                            <div class="col-md-offset-3 col-md-9"> 
                                <button id="btn-signup" type="submit" class="btn btn-info">Sign Up </button>
                            </div> 
                        </div> 
                    </form> 
                </div>
            </div> 
        </div> 
    </div>
     
    </body>

</html>